body {
  padding: 16px;
  margin: 0;
}

h4 {
  margin: 0;
}

.nowrapLabel {
  white-space: pre;
}

.resizeDemo-header {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: white;
  position: fixed;
  height: 60px;
  box-sizing: border-box;
}

p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resizeDemo-settings {
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
  background-color: #EEE;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.resizeDemo-body {
  top: 60px;
  position: relative;
}

.resizeDemo-settings>* {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.resizeDemo-settings>*:first-child {
  margin-top: 0;
}

.resizeDemo-settings>*:last-child {
  margin-bottom: 0;
}

.resizeDemo-settings>*>input {
  margin: 0;
}

.resizing-widget {
  border: 1px solid #666;
  overflow: hidden;
  box-sizing: border-box;
}

.Outer {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
}

.Header {
  flex: 0 0 40px;
  align-items: center;
  padding: 8px 4px;
  border-bottom: 1px solid #666;
}

.Body {
  flex: 1 1 auto;
  padding: 8px 4px;
  overflow-y: auto;
}

.Footer {
  flex: 0 0 40px;
  padding: 8px 4px;
  border-top: 1px solid #666;
}

.line {
  z-index: -1;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, .4);
}

.close-panel {
  text-align: right;
}