body {
    margin: 16px;
}

.resizeDemo-settings {
    height: 80px;
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.resizeDemo-settings > * {
    margin: 16px;
    flex: 1 1 0;
}

.resizeDemo-settings > *:first-child {
    margin-left: 0;
}

.resizeDemo-settings > *:last-child {
    margin-right: 0;
}

.resizeDemo-body {
    position: relative;
}

.resizing-widget {
    border: 2px solid gray;
    overflow: hidden;
    box-sizing: border-box;
}

.Outer {
    background-color: red;
    display: flex;
    flex-direction: column;
}

.Inner {
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    padding: 8px 4px;
}

.Inner--one {
    background-color: lightblue;
}

.Inner--two {
    background-color: lightcoral;
}

.Inner--three {
    background-color: lightgreen;
}

.line {
    z-index: -1;
    left: 0;
    right: 0;
    position: absolute;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}