body {
  padding: 16px;
  margin: 0;
}

h3 {
  margin: 0 0 16px;
  display: inline;
}

a {
  color: blue;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.nowrapLabel {
  white-space: pre;
}

.resizeDemo-header {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  background-color: white;
  position: fixed;
  height: 75px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.resizeDemo-settings {
  position: fixed;
  box-sizing: border-box;
  z-index: 2;
  background-color: #EEE;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.resizeDemo-body {
  top: 75px;
  position: relative;
}

.resizeDemo-settings>* {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.resizeDemo-settings>*:first-child {
  margin-top: 0;
}

.resizeDemo-settings>*:last-child {
  margin-bottom: 0;
}

.resizeDemo-settings>*>input {
  margin: 0;
}

.resizing-widget {
  border: 2px solid gray;
  overflow: hidden;
  box-sizing: border-box;
}

.Outer {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.Inner {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 8px 4px;
}

.Inner--one {
  background-color: lightblue;
}

.Inner--two {
  background-color: lightcoral;
}

.Inner--three {
  background-color: lightgreen;
}

.line {
  z-index: -1;
  left: 0;
  right: 0;
  position: absolute;
  border-top: 1px solid rgba(0, 0, 0, .4);
}

.close-panel {
  text-align: right;
}